* {
  box-sizing: border-box;
}
header,
footer {
  height: 150px;
  border: 1px solid black;
  clear: both;
}

.section1 {
  height: 150px;
  border: black solid 1px;
}
.section2 {
  height: 150px;
  border: black solid 1px;
  width: 30%;
  float: left;
}
.section3 {
  height: 150px;
  border: black solid 1px;
  width: 70%;
  float: left;
}
