body {
  background-color: lightseagreen;
}
li {
  margin-bottom: 8px;
}
.projects {
  margin: 0 auto;
  width: 80%;
  border-radius: 10px;
  border: solid rgb(80, 54, 7) 2px;
}

.custom-counter {
  counter-reset: step-counter;
  list-style: none;
}

.custom-counter > li {
  counter-increment: step-counter;
  margin-bottom: 10px; /* Optional: Adjust spacing between list items */
}

.custom-counter > li::before {
  content: "Class " counter(step-counter) ": ";
}
nav {
  margin-bottom: 20px;
  margin: 5px;
  padding-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid gray;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  width: 9%;
}
