/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
}
section {
  height: 300px;
  width: 20%;
  float: left;
  border: solid black 1px;
}
.big-box {
  width: 40%;
  border: solid black 1px;
}

/******************************************
/* LAYOUT
/*******************************************/
header,
footer {
  height: 100px;
  border: 1px solid black;
  clear: both;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
@media screen and (max-width: 600px) {
  section {
    background: red;
    float: none;
  }
  body {
    background-color: aquamarine;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  section {
    background-color: blueviolet;
    width: 33.3333%;
  }
  .big-box {
    display: none;
  }
  body {
    background-color: cadetblue;
  }
}
@media (min-width: 901px) {
  body {
    background-color: darkcyan;
  }
  section {
    background-color: chocolate;
  }
}
